@import '../../../../../variables.scss';

.hl__blacklightBrowseRepo__listItemContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: 50%;
  padding: 30px;
  cursor: pointer;
  border-bottom: 1px solid $divider;

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  &:nth-child(odd) {
    padding: 30px 30px 30px 0;
    @media #{$breakpoint-1} {
      padding: 30px 0;
    }
  }
  @media #{$breakpoint-1} {
    flex-direction: column-reverse;
    width: 100%;
    padding: 30px 0;
  }
}

.hl__blacklightBrowseRepo__listItemMetaContainer {
  width: 50%;
  @media #{$breakpoint-1} {
    width: 100%;
    margin-top: 20px;
  }
}

.hl__blacklightBrowseRepo__listItemMeta {
  margin-left: 30px;
  @media #{$breakpoint-1} {
    margin-left: 0;
  }
}

.hl__blacklightBrowseRepo__listItemCount {
  font-family: $font-title-light;
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.68;
  letter-spacing: normal;
  color: $hl__dark;
  @media #{$breakpoint-1} {
    font-size: 18px;
  }
}

.hl__blacklightBrowseRepo__listItemImageContainer {
  width: 50%;
  @media #{$breakpoint-1} {
    width: 100%;
  }
}

.hl__blacklightBrowseRepo__listItemImage {
  display: flex;
  //background-image: url("/images/mss-castle.jpg");
  width: 100%;
  height: 186px;
  //padding: 10%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hl__blacklightBrowseRepo__listItemTitle {
  font-family: $font-label;
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: $hl__dark;
  margin-bottom: 13px;
  @media #{$breakpoint-1} {
    font-size: 24px;
  }
}