@import '../../../../variables.scss';

.projectNotFound {
	padding: 120px 0;
	min-height: 100vh;
	width: 100%;
	text-align: center;

	h1 {
		color: $dark;
		font-size: 38px;
		margin: 90px 0;
	}

	p {
		font-size: 22px;
		font-family: $font-reading;
		max-width: 720px;
		margin: 30px auto 320px;
		padding: 15px auto;
		line-height: 1.7em;
	}

}
