@import "../../../../variables.scss";

.hl__itemDetail__relatedItemFeatured {
  display: flex;
  align-items: baseline;
  width: 32%;
  overflow: hidden;
  padding: 10%;
  background: blue;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
  justify-content: center;
  cursor: pointer;

  &.relatedItemImage {
    background-image: url("/images/asian-rubbings-cover.jpg");
  }

  &.itemActive {
    background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("/images/asian-rubbings-cover.jpg");
    padding: inherit;
  }
}

.hl__itemDetail__relatedItemMetaContainer {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: left;
  align-items: flex-end;
}

.hl__itemDetail__relatedItemTitle {
  font-family: $font-title-bold;
  font-size: 32px;
  font-weight: normal;
  color: $hl__dark;
  margin-left: 32px;
  margin-bottom: 33px !important;
}
