/******************************************************************************


                  _
     ___ _ _ _ __| |_  ___  _  _ ___
    / _ \ '_| '_ \ ' \/ -_)| || (_-<
    \___/_| | .__/_||_\___(_)_,_/__/
            |_|

        the archive, reimagined.



 |  Style Variables for orphe.us application
 |
 |   1. Colors
 |   2. Typography
 |   3. Mixins


******************************************************************************/
/******************************************************************************

1. Colors

******************************************************************************/
/******************************************************************************

1.1 Base Colors

******************************************************************************/
/******************************************************************************

1.2 Brand Colors

******************************************************************************/
/******************************************************************************

1.3 Text Colors

******************************************************************************/
/******************************************************************************

2. Typography

Available Fonts:

=================================
Google Fonts
=================================
font-family: 'Gentium Basic', serif;
font-family: 'Merriweather', serif;

=================================
Fonts.com
=================================
font-family:'Slate W04 Light';
font-family:'Slate W04 Bk';
font-family:'Slate W04 Regular';
font-family:'Slate W04 Medium';
font-family:'Slate W04 Condensed';
font-family:'Slate W04 Bold';
font-family:'Slate W04 Black';
font-family:'Proxima Nova W08 Light';
font-family:'Proxima Nova W08 Reg';
font-family:'Freight Text W03 Light';
font-family:'Freight Text W03 Black';
font-family:'Freight Text W03 Book';
font-family:'Freight Text W03 Bold';
font-family:'Courier Bold W07 Regular';
font-family:'Courier W07 Regular';
font-family:'Futura LT W04 Bold Cond1475886';
font-family:'Futura LT W04 Book1475802';
font-family:'Futura LT W04 Medium1475814';
font-family:'Futura LT W04 Light1475790';
font-family:'Futura LT W04 Black';

=================================
Material Design Icons
=================================
font-family: "Material Design Icons";

******************************************************************************/
/******************************************************************************

2.1 Base Fonts

******************************************************************************/
/******************************************************************************

2.2 Title Fonts

******************************************************************************/
/******************************************************************************

2.3 Reading Environment Fonts

******************************************************************************/
/******************************************************************************

2.4 Material Design Icons

******************************************************************************/
@font-face {
  font-family: "Material Design Icons";
  src: url("/fonts/materialdesignicons-webfont.eot?v=1.9.32");
  src: url("/fonts/materialdesignicons-webfont.eot?#iefix&v=1.9.32") format("embedded-opentype"), url("/fonts/materialdesignicons-webfont.woff2?v=1.9.32") format("woff2"), url("/fonts/materialdesignicons-webfont.woff?v=1.9.32") format("woff"), url("/fonts/materialdesignicons-webfont.ttf?v=1.9.32") format("truetype"), url("/fonts/materialdesignicons-webfont.svg?v=1.9.32#materialdesigniconsregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/******************************************************************************

3. Mixins

 Mixins are based off of the excellent ups-mixin-lib repository by Upstatement
 @https://github.com/Upstatement/ups-mixin-lib

******************************************************************************/
.hul-button {
  padding: 15px 25px;
  margin: 10px;
  border: 2px solid #fff;
  text-transform: uppercase;
  font-family: "Gotham Book";
  color: #fff;
  cursor: pointer;
  display: inline-block;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out; }
  .hul-button.hul-button--primary {
    background: #03A9F4;
    border: 2px solid #03A9F4; }
    .hul-button.hul-button--primary.hul-button--outline {
      border: 2px solid #fff; }
    .hul-button.hul-button--primary:hover {
      background: #0277BD;
      border: 2px solid #0277BD;
      color: #fff; }
  .hul-button.hul-button--accent {
    background: #FF9800;
    border: 2px solid #FF9800; }
    .hul-button.hul-button--accent.hul-button--outline {
      border: 2px solid #fff; }
    .hul-button.hul-button--accent:hover {
      background: #EF6C00;
      border: 2px solid #EF6C00;
      color: #fff; }
  .hul-button.hul-button--light {
    background: #fff;
    border: 2px solid #fff;
    color: #222; }
    .hul-button.hul-button--light.hul-button--outline {
      border: 2px solid #222; }
    .hul-button.hul-button--light.hul-button--outline-dark {
      border: 2px solid #fff; }
    .hul-button.hul-button--light:hover {
      background: #03A9F4;
      border: 2px solid #03A9F4;
      color: #fff; }
  .hul-button.hul-button--trans-light {
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.4);
    color: #222; }
    .hul-button.hul-button--trans-light.hul-button--outline {
      border: 2px solid #222; }
    .hul-button.hul-button--trans-light:hover {
      background: #03A9F4;
      border: 2px solid #03A9F4;
      color: #fff; }
  .hul-button.hul-button--dark {
    background: #222;
    border: 2px solid #222;
    color: #fff; }
    .hul-button.hul-button--dark.hul-button--outline {
      border: 2px solid #222; }
    .hul-button.hul-button--dark:hover {
      background: #03A9F4;
      border: 2px solid #03A9F4;
      color: #fff; }
