@import '../../../../variables.scss';

.hul-button {
	padding: 15px 25px;
	margin: 10px;
	border: 2px solid $light;
	text-transform: uppercase;
	font-family: $font-label;
	color: $light;
	cursor: pointer;
	display: inline-block;

	@include transition(all 100ms ease-in-out);

	&.hul-button--primary {
		background: $primary;
		border: 2px solid $primary;
		&.hul-button--outline {
			border: 2px solid $light;
		}
		&:hover {
			background: $primary-dark;
			border: 2px solid $primary-dark;
			color: $light;
		}
	}

	&.hul-button--accent {
		background: $accent;
		border: 2px solid $accent;
		&.hul-button--outline {
			border: 2px solid $light;
		}
		&:hover {
			background: $accent-dark;
			border: 2px solid $accent-dark;
			color: $light;
		}
	}

	&.hul-button--light {
		background: $light;
		border: 2px solid $light;
		color: $dark;
		&.hul-button--outline {
			border: 2px solid $dark;
		}
		&.hul-button--outline-dark {
			border: 2px solid $light;
		}
		&:hover {
			background: $primary;
			border: 2px solid $primary;
			color: $light;
		}
	}

	&.hul-button--trans-light {
		background: rgba(255, 255, 255, 0.4);
		border: 2px solid rgba(255, 255, 255, 0.4);
		color: $dark;
		&.hul-button--outline {
			border: 2px solid $dark;
		}
		&:hover {
			background: $primary;
			border: 2px solid $primary;
			color: $light;
		}
	}

	&.hul-button--dark {
		background: $dark;
		border: 2px solid $dark;
		color: $light;
		&.hul-button--outline {
			border: 2px solid $dark;
		}
		&:hover {
			background: $primary;
			border: 2px solid $primary;
			color: $light;
		}
	}
}
