@import '../../../../../../../variables.scss';

.hl__blacklightHome {
	.hl__page-header__container {
		padding: 0 5%;
		margin-top: -60px;
		@media #{$breakpoint-1} {
			margin-top: 60px;
		}

		.hl__page-subtext,
		.hl__page-title {
			display: flex;
			justify-content: flex-start;
			padding-bottom: 0;
		}

		.hl__page-title {
			font-family: $font-title-bold;
			font-size: 52px;
			text-transform: uppercase;
			letter-spacing: 2.5px;
			@media #{$breakpoint-1} {
				font-size: 32px;
			}
		}

		.hl__page-subtext {
			font-family: $font-reading;
			font-size: 64px;
			font-style: italic;
			margin-bottom: 30px;
			@media #{$breakpoint-1} {
				font-size: 22px;
			}
		}

		.hl__searchContainer {
			margin-left: 0 !important;

			.hl__searchInputOuter {
				height: 59px;
				@media #{$breakpoint-1} {
					width: 100%;
				}
			}

			input {
				width: 100%;
				display: inline-block;
			}

			button {
				display: flex;
				align-items: center;
				font-family: $font-title-light;
				font-size: 13px;
				letter-spacing: 1.1px;
				color: $hl__dark;
				border: none;
				border-left: 1px solid $hl__dark;
				height: 34px;
				padding-left: 18px;
				@include transition(all 100ms ease-in-out);
				text-transform: uppercase;
				cursor: pointer;
				@media #{$breakpoint-1} {
					font-size: 12px;
					padding-left: 10px;
				}

				&:hover {
					color: $hl__text-strong-blue;
				}
			}
		}
	}

	.hl__page-header {
		background-image: url("/images/blacklight_landing_background.png");
		background-size: cover;
		height: 590px;
		flex-wrap: wrap;
		position: relative;
	}

	.hl__overlayContainer {
		position: absolute;
		width: 33%;
		//min-width: 400px;
		padding: 40px 50px;
		background: rgba(216, 216, 216, 0.85);
		text-align: left;
		z-index: 1;
		right: 8%;
		bottom: 0;
		@media #{$breakpoint-1} {
			right: 0;
			padding: 20px;
			width: 100%;
		}

		h3 {
			font-family: $font-title-bold;
			font-size: 26px;
			line-height: 1.23;
			color: $hl__dark;
			padding-bottom: 20px;
		}

		p {
			font-family: $font-title-light;
			font-size: 18px;
			line-height: 1.89;
			color: $hl__dark;

			a {
				color: $hl__dark;
				text-decoration: underline;

				&:hover {
					color: none;
				}
			}
		}
	}

	.hl__viewDetails {
		position: absolute;
		display: flex;
		align-items: center;
		left: 5%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 1;
		bottom: 0;
		font-family: $font-title-regular;
		font-size: 13px;
		color: #fff;
		padding: 15px 30px;
		@include transition(all 100ms ease-in-out);
		@media #{$breakpoint-1} {
			display: none;
		}

		&:hover {
			background-color: rgba(0, 0, 0, 0.8);

			span {
				text-decoration: none;
			}
		}

		img,
		span {
			display: inline-block;
		}

		span {
			color: $light;
			text-decoration: underline;
			@include transition(all 100ms ease-in-out);
		}

		img {
			padding-right: 12px;
		}
	}

	.hl__searchIcon {
		margin-right: 15px;
		@media #{$breakpoint-1} {
			display: none !important;
		}
	}
}