{
  "env": {
    "test": {
      "plugins": ["babel-plugin-css-modules-transform"]
    }
  },
  "plugins": [
    "lodash",
    "transform-class-properties"
  ],
  "presets": [
    ["@babel/preset-env", {"shippedProposals": true}],
    "@babel/preset-flow",
    "@babel/preset-react"
  ]
}
