@import '../../../../../variables.scss';

.blacklightItemListPage {
  padding: 0;

  .hl__filter-rail {
    margin-top: 0;
    @media #{$breakpoint-1} {
      //display: flex;
      width: 90%;
    }
  }

  .hl__filter-rail.hl__filter-rail--collapsed {
    left: -340px;
  }

  .searchOuter {
    //width: 100%;
    max-width: 1450px;
    margin: 50px auto;
    padding: 0 20px;
    display: flex;
    @media #{$breakpoint-1} {
      flex-direction: column;
    }
  }

  .searchInner {
    @media #{$breakpoint-1} {
      margin: 20px 0 60px 50px;
    }
  }

  .hl__itemGridViewContainer {
    margin: 30px 10px;
    max-width: 310px;
    width: 310px;
  }

  .hl__itemGridViewMetaContainer {
    display: block;
    width: 100%;
    height: auto;
  }
}

.hl__searchRow.blacklightItemListPageSearchHeader {
  width: 100%;
  margin: 0 auto;
}

.blacklightItemListPageSearchHeaderInner {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .hl__searchContainer {
    margin-left: 0;

    .hl__searchInputOuter {
      margin-left: 0;
    }
  }
}