@import '../../../../variables.scss';


.projectCreate {
	padding: 120px 0;
	min-height: 100vh;
	max-width: 690px;
	margin: 0 auto;

	h1 {
		color: $dark;
		font-size: 48px;
	}

	hr {
		max-width: 120px;
		width: 90%;
		margin: 20px 0;
		height: 3px;
		background: $divider-light-grey;
		border: none;
		outline: none;
		display: none;
	}

	&.projectCreateDisabled {
		h1 {
			opacity: 0.3;
		}
		.projectNameAvailabilityCheck {
			opacity: 0.3;
		}
	}

}

.projectCreateWarning {
	span {
		color: $accent-500;
		font-size: 16px;
		font-family: $font-body;
		font-weight: bold;
	}
}
