@import '../../../../variables.scss';

.collectionDescription {
	margin: 0 auto;
	text-align: center;
	padding: 60px 0 30px;

	p {
		text-align: left;
		font-family: $font-reading;
		font-size: 22px;
		font-weight: 300;
		line-height: 1.7em;
		color: rgba(0, 0, 0, 0.75);
		padding: 50px 0;
		max-width: 720px;
		margin: 0px auto;
	}

}
