/******************************************************************************


                  _
     ___ _ _ _ __| |_  ___  _  _ ___
    / _ \ '_| '_ \ ' \/ -_)| || (_-<
    \___/_| | .__/_||_\___(_)_,_/__/
            |_|

        the archive, reimagined.



 |  Style Variables for orphe.us application
 |
 |   1. Colors
 |   2. Typography
 |   3. Mixins


******************************************************************************/
/******************************************************************************

1. Colors

******************************************************************************/
/******************************************************************************

1.1 Base Colors

******************************************************************************/
/******************************************************************************

1.2 Brand Colors

******************************************************************************/
/******************************************************************************

1.3 Text Colors

******************************************************************************/
/******************************************************************************

2. Typography

Available Fonts:

=================================
Google Fonts
=================================
font-family: 'Gentium Basic', serif;
font-family: 'Merriweather', serif;

=================================
Fonts.com
=================================
font-family:'Slate W04 Light';
font-family:'Slate W04 Bk';
font-family:'Slate W04 Regular';
font-family:'Slate W04 Medium';
font-family:'Slate W04 Condensed';
font-family:'Slate W04 Bold';
font-family:'Slate W04 Black';
font-family:'Proxima Nova W08 Light';
font-family:'Proxima Nova W08 Reg';
font-family:'Freight Text W03 Light';
font-family:'Freight Text W03 Black';
font-family:'Freight Text W03 Book';
font-family:'Freight Text W03 Bold';
font-family:'Courier Bold W07 Regular';
font-family:'Courier W07 Regular';
font-family:'Futura LT W04 Bold Cond1475886';
font-family:'Futura LT W04 Book1475802';
font-family:'Futura LT W04 Medium1475814';
font-family:'Futura LT W04 Light1475790';
font-family:'Futura LT W04 Black';

=================================
Material Design Icons
=================================
font-family: "Material Design Icons";

******************************************************************************/
/******************************************************************************

2.1 Base Fonts

******************************************************************************/
/******************************************************************************

2.2 Title Fonts

******************************************************************************/
/******************************************************************************

2.3 Reading Environment Fonts

******************************************************************************/
/******************************************************************************

2.4 Material Design Icons

******************************************************************************/
@font-face {
  font-family: "Material Design Icons";
  src: url("/fonts/materialdesignicons-webfont.eot?v=1.9.32");
  src: url("/fonts/materialdesignicons-webfont.eot?#iefix&v=1.9.32") format("embedded-opentype"), url("/fonts/materialdesignicons-webfont.woff2?v=1.9.32") format("woff2"), url("/fonts/materialdesignicons-webfont.woff?v=1.9.32") format("woff"), url("/fonts/materialdesignicons-webfont.ttf?v=1.9.32") format("truetype"), url("/fonts/materialdesignicons-webfont.svg?v=1.9.32#materialdesigniconsregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/******************************************************************************

3. Mixins

 Mixins are based off of the excellent ups-mixin-lib repository by Upstatement
 @https://github.com/Upstatement/ups-mixin-lib

******************************************************************************/
#home {
  text-align: center;
  overflow-x: hidden; }
  #home h1 {
    font-size: 54px;
    letter-spacing: 2px; }
  #home p {
    font-weight: 300;
    font-size: 15px; }
  #home .home-cover-content {
    margin: 0 auto;
    max-width: 720px;
    width: 90%; }
    #home .home-cover-content h1 {
      display: block;
      color: #222;
      padding: 0 0 20px;
      text-shadow: 0px 0px 25px #fff;
      margin: 0;
      font-size: 80px; }
    #home .home-cover-content .lead {
      display: block;
      color: #444;
      padding: 20px 0;
      text-shadow: 0px 0px 25px #fff;
      font-size: 26px;
      line-height: 1.7em;
      font-family: "Gotham Book"; }
    #home .home-cover-content .hul-button {
      margin: 10px 20px 10px 0; }
    #home .home-cover-content .home-cover-buttons {
      margin: 60px 0 0; }
